/* здесь используйте глобальные переменные */
$secondary-ff: "Oswald", sans-serif;
$title-text: #000000;
$catalog-title-text: #222222;
$catalog-text: #111111;
$white-text: #ffffff;
$bg-green: #68b738;

