.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-align: center;
}

.advantages__description {
  font-size: 14px;
  line-height: 18px;
}
