.advantages {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 45px;

    &::after {
      content: "";
      display: block;
      border-bottom: 1px solid $border-b-tablet;
      width: 100%;
      margin-bottom: 47px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;

    &::after {
      content: "";
      border: none;
      margin-bottom: 0;
    }
  }
}

.advantages__title {
  color: $title-text;
  text-align: left;
  font-family: $secondary-ff;
  font-size: 36px;
  line-height: 40px;

  margin: 0;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 137px;

    counter-reset: list;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 7%;
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;

  align-items: center;

  &--useful {
    &::before {
      content: "";
      background: $green url("../../images/icons/stack.svg#leaf") no-repeat center/25px 28px;
      width: 60px;
      height: 60px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        width: 80px;
        height: 80px;

        margin: 11px 38px 31px 0;
      }

      &::after {
        content: counter(list);
        color: $light-grey;
        text-align: center;
        font-family: $secondary-ff;
        font-size: 280px;
        font-style: normal;
        font-weight: 400;
        line-height: 280px;

        grid-column: 2/-1;
        grid-row: 1/-1;
      }
    }
  }

  &--form {
    &::before {
      content: "";
      background: $green url("../../images/icons/stack.svg#flour") no-repeat center/27px 29px;
      width: 60px;
      height: 60px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        width: 80px;
        height: 80px;
        left: 50%;
        top: 10%;

        margin: 40px 31px 31px 0;
      }

      &::after {
        content: counter(list);
        color: $light-grey;
        text-align: center;
        font-family: $secondary-ff;
        font-size: 280px;
        font-style: normal;
        font-weight: 400;
        line-height: 280px;

        grid-column: 2/-1;
        grid-row: 1/-1;
      }
    }
  }

  &--eat {
    &::before {
      content: "";
      background: $green url("../../images/icons/stack.svg#eat") no-repeat center/26px 30px;
      width: 60px;
      height: 60px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        width: 80px;
        height: 80px;
        left: 0;
        top: 50%;

        margin: 40px 33px 31px 0;
      }

      &::after {
        content: counter(list);
        color: $light-grey;
        text-align: center;
        font-family: $secondary-ff;
        font-size: 280px;
        font-style: normal;
        font-weight: 400;
        line-height: 280px;

        grid-column: 2/-1;
        grid-row: 1/-1;
      }
    }
  }

  &--time {
    &::before {
      content: "";
      background: $green url("../../images/icons/stack.svg#clock") no-repeat center/27px 31px;
      width: 60px;
      height: 60px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        width: 80px;
        height: 80px;
        left: 50%;
        top: 50%;

        margin: 40px 33px 31px 0;
      }

      &::after {
        content: counter(list);
        color: $light-grey;
        text-align: center;
        font-family: $secondary-ff;
        font-size: 280px;
        font-style: normal;
        font-weight: 400;
        line-height: 280px;

        grid-column: 2/-1;
        grid-row: 1/-1;
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content 1fr;
    gap: 0;
    align-items: flex-start;

    counter-increment: list;

    &--useful {
      margin-top: 61px;
    }

    &--form {
      margin-top: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    &--useful {
      margin-top: 0;

      &::before {
        margin: 40px 38px 31px 0;
      }
    }

    &--form {
      margin-top: 0;

      &::before {
        margin: 40px 31px 31px 0;
      }
    }

    &--eat {
      &::before {
        margin: 40px 33px 31px 0;
      }
    }

    &--time {
      &::before {
        margin: 40px 33px 31px 0;
      }
    }
  }
}

.advantages__description {
  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    position: relative;
    z-index: 1;

    grid-column: 1/-1;
    grid-row: 2/-1;

    br {
      display: math; //???
    }
  }
}
