.button {
  font-family: $secondary-ff;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  text-transform: uppercase;

  background-color: $green;
  border: none;

  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 10px 20px;

  &:active {
    background-color: $dark-green;
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  @media (min-width: $desktop-width) {
    cursor: pointer;

    &:hover {
      background-color: $dark-green;
    }
  }

  &--secondary {
    color: $main-text;

    width: 250px;
    background: $light-grey;

    &:active {
      background-color: $border-catalog;
    }

    @media (min-width: $desktop-width) {
      &:hover {
        background-color: $border-catalog;
      }
    }
  }
}
