.control {
  border: none;
  padding: 0;
  margin: 0;

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: $border-input;
    height: 1px;
    width: 100vw;
    right: 0;
    top: -1px;
    box-shadow: 100vw 0 0 $border-input;
  }

  &::after {
    bottom: 26px;
    top: auto;
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      display: none;
    }
  }

  &--more-info {
    &::before,
    &::after {
      display: none;
    }
  }
}

.control__list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 28px;
  padding-bottom: 25px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    border: 1px solid $border-input;
    padding: 28px 27px 31px;
    margin-bottom: 65px;
    gap: 23px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 28px;
    margin-bottom: 0;
  }

  &--more-info {
    padding: 0;
    margin-bottom: 39px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 43px 60px;
      border: none;
      padding: 0 40px;
      margin: 0 auto;
      margin-bottom: 56px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 80px;
      padding-left: 0;
      padding-right: 0;
      width: 1220px;
      margin-bottom: 65px;
    }
  }
}

.control__label {
  position: relative;
  padding-left: 45px;
  display: block;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    cursor: pointer;
  }
}

.control__input {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: $white;
  border-radius: 50%;
  border: 1px solid $border-checkbox;
  margin-right: 15px;

  &--checkbox {
    border-radius: 0;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      border-color: $border-hover;
    }
  }
}

.control__selected[type="radio"]:checked + .control__input--radio::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $green;
  left: 8px;
  top: 8px;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: 10px;
    top: 10px;
  }
}

.control__selected[type="checkbox"]:checked + .control__input--checkbox {
  background-image: url("../../images/icons/stack.svg#vector");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 14px;

  @media (min-width: $tablet-width) {
    background-size: 26px 26px;
  }
}

.control__selected:disabled + .control__input {
  opacity: 0.3;
}
