.contacts {
  iframe {
    border: none;
    display: block;

    width: 100%;
    height: 362px;

    background-image:
      image-set(
        url("../../images/location-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/location-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/location-mobile@1x.jpg") type("image/jpg") 1x,
        url("../../images/location-mobile@2x.jpg") type("image/jpg") 2x,
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    iframe {
      width: 100%;
      height: 400px;

      background-image:
        image-set(
          url("../../images/location-tablet@1x.webp") type("image/webp") 1x,
          url("../../images/location-tablet@2x.webp") type("image/webp") 2x,
          url("../../images/location-tablet@1x.jpg") type("image/jpg") 1x,
          url("../../images/location-tablet@2x.jpg") type("image/jpg") 2x,
      );
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;

    iframe {
      //max-width: 1440px;
      height: 400px;
      margin: 0 auto;

      background-image:
        image-set(
          url("../../images/location-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/location-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/location-desktop@1x.jpg") type("image/jpg") 1x,
          url("../../images/location-desktop@2x.jpg") type("image/jpg") 2x,
      );
    }
  }
}

.contacts__wrap {
  padding: 26px 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
  align-items: center;
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    gap: 50px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    padding: 60px 78px 60px 80px;
    gap: 87px;
    top: 95px;
    left: calc((100vw - 1220px)/2);
    width: 565px;
    background-color: $white;
  }
}

.contacts__title {
  font-family: $secondary-ff;
  font-size: 16px;
  line-height: 20px;
  color: $catalog-text;
  text-transform: uppercase;
  text-align: start;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  text-align: start;

  p {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    p {
      padding-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}
