.copyright-link__name {
  font-size: 16px;
  line-height: 20px;
  color: $secondary-grey;

  &:active {
    opacity: 0.3;
  }
}

.copyright-link__logo {
  color: $dark-grey;

  &:hover {
    color: $green;
  }

  &:focus {
    color: $green;
  }

  &:active {
    color: $green;
    opacity: 0.3;
  }
}
