.copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    gap: 23px;
  }

  @media (min-width: $desktop-width) {
    &:hover svg {
      color: $green;
    }

    &:focus svg {
      color: $green;
    }

    &:active svg {
      color: $green;
    }

    &:active {
      opacity: 0.3;
    }
  }

  svg {
    color: $dark-grey;
  }
}

.copyright-link__name {
  font-size: 16px;
  line-height: 20px;
  color: $secondary-grey;

  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 5px;
  }
}
