.copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    gap: 23px;
  }
}

.copyright-link__name {
  font-size: 16px;
  line-height: 20px;
  color: $secondary-grey;

  margin: 0;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 5px;
  }
}

.copyright-link__logo {
  color: $dark-grey;

  &:hover {
    color: $green;
  }

  &:focus {
    color: $green;
  }

  &:active {
    color: $green;
    opacity: 0.3;
  }
}
