.data {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 14px 13px;
  margin: 0;
  margin-bottom: 24px;
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 20px 13px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &--field-wrapper {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;

      position: absolute;
      right: 13px;
      top: 13px;

      mask-image: url("../../images/icons/stack.svg#email");
      mask-repeat: no-repeat;
      background-color: $title-text;
      mask-size: 20px 20px;
    }

    @media (min-width: $tablet-width) {
      gap: 13px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &--field-wrapper-tel {
    &::after {
      mask-image: url("../../images/icons/stack.svg#phone");
    }

    @media (min-width: $tablet-width) {
      margin-top: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &--error {
    input {
      border-color: $red;
    }

    &::after {
      background-color: $red;
    }
  }

  &:focus-within {
    &::after {
      background-color: $green;
    }
  }
}

.data__label {
  align-self: center;
}

.data__field {
  color: $secondary-grey;
  font-family: $secondary-ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid $border-input;
  padding: 16px 15px 13px;

  &:focus {
    border-color: $main-text;
  }

  &--error {
    border-color: $red;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;

    padding: 16px 10px 13px 20px;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      border-color: $border-checkbox;
    }
  }
}

