.data {
  border: none;
  padding: 0;
  margin: 0;
}

.data__list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    gap: 20px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &--owner-contacts {
    @media (min-width: $tablet-width) {
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 70px;
      gap: 80px;
    }
  }
}

.data__item {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;

  &--icon {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;

      position: absolute;
      right: 12px;
      top: 13px;

      mask-image: url("../../images/icons/stack.svg#email");
      mask-repeat: no-repeat;
      background-color: $title-text;
      mask-size: 20px 20px;
    }
  }

  &--icon-tel {
    &::after {
      mask-image: url("../../images/icons/stack.svg#phone");
    }
  }

  &--error {
    input {
      border-color: $red;
    }

    &::after {
      background-color: $red;
    }
  }

  &:focus-within {
    &::after {
      background-color: $green;
    }
  }

  @media (min-width: $tablet-width) {
    &--icon::after {
      right: 16px;
      top: 16px;
    }
  }
}

.data__label {
  align-self: center;

  @media (min-width: $tablet-width) {
    max-width: 50%;
  }
}

.data__field {
  color: $secondary-grey;
  font-family: $secondary-ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid $border-input;
  padding: 14px 12px 11px 15px;
  flex-grow: 1;

  &:focus {
    border-color: $main-text;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;

    padding: 10px 11px 11px 20px;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      border-color: $border-checkbox;
    }
  }
}

