.features {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;

    margin-bottom: 71px;
  }
}

.features__item {
  position: relative;
  background-color: $light-grey;
  margin-bottom: 20px;
  padding: 30px 33px 18px 20px;

  &--slim {
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      background: $green no-repeat;
      width: 50px;
      height: 50px;
      top: 24px;
      left: 20px;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      background: url("../../images/icons/stack.svg#cat-slim") no-repeat center/36px 50px;
      width: 36px;
      height: 50px;
      top: 21px;
      left: 27px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        width: 200px;
        height: 200px;
        top: 92px;
        left: auto;
        right: 63px;
      }

      &::after {
        background: url("../../images/icons/stack.svg#cat-slim") no-repeat center/140px 194px;
        width: 140px;
        height: 194px;
        top: 81px;
        left: auto;
        right: 93px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        width: 100px;
        height: 100px;
        top: 47px;
        left: 52px;
      }

      &::after {
        background: url("../../images/icons/stack.svg#cat-slim") no-repeat center/70px 97px;
        width: 70px;
        height: 97px;
        top: 41px;
        left: 67px;
      }
    }
  }

  &--pro {
    &::before {
      content: "";
      position: absolute;
      background: $green no-repeat;
      width: 50px;
      height: 50px;
      top: 24px;
      left: 20px;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      background: url("../../images/icons/stack.svg#cat-pro") no-repeat center/67px 28px;
      width: 67px;
      height: 28px;
      top: 35px;
      left: 13px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        width: 200px;
        height: 200px;
        top: 91px;
        left: auto;
        right: 63px;
      }

      &::after {
        background: url("../../images/icons/stack.svg#cat-pro") no-repeat center/268px 112px;
        width: 268px;
        height: 112px;
        top: 135px;
        left: auto;
        right: 29px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        width: 100px;
        height: 100px;
        top: 47px;
        left: 52px;
      }

      &::after {
        background: url("../../images/icons/stack.svg#cat-pro") no-repeat center/134px 56px;
        width: 134px;
        height: 56px;
        top: 67px;
        left: 33px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 53px;

    &--pro {
      margin-bottom: 45px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 77px 67px 59px 52px;
    margin: 0;
  }
}

.features__title {
  color: $title-text;
  font-family: $secondary-ff;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 29px;
  margin-left: 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    margin-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 214px;
    margin-bottom: 73px;
  }
}

.features__text {
  margin: 0;

  &::after {
    content: "";
    display: block;
    border-bottom: 1px solid $border-b-mobile;
    margin: 23px 0 15px;

    @media (min-width: $tablet-width) {
      border: none;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 23px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.features__link {
  font-family: $secondary-ff;
  font-size: 16px;
  line-height: 16px;
  color: $title-text;
  text-transform: uppercase;

  display: block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../images/icons/stack.svg#arrow");
    background-repeat: no-repeat;
    background-position: -8px;
    width: 32px;
    height: 10px;
    left: 102px;
    top: 3px;
  }

  &:hover {
    &::after {
      background-position: 0;
    }
  }

  &:active {
    &::after {
      background-position: 0;
    }
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;

    &::after {
      left: 133px;
      top: 11px;
    }
  }
}
