.form {
  font-family: $secondary-ff;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $secondary-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;

    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__header {
  color: $title-text;
  font-size: 36px;
  line-height: 36px;
  text-transform: initial;

  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 54px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__text {
  color: $title-text;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 66px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__data-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;

    margin-bottom: 70px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__legend {
  color: $title-text;
  font-size: 24px;
  line-height: 26px;
  text-transform: initial;

  padding: 0;
  position: relative;
  width: fit-content;
  background-color: $white;
  box-shadow: -20px 0 0 $white, 20px 0 0 $white;

  &::after {
    content: "";
    position: absolute;
    background: $green;
    height: 2px;
    width: 100vw;
    right: 0;
    top: 15px;
    box-shadow: 100vw 0 0 $green;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    margin-left: 40px;
    box-shadow: -40px 0 0 $white, 40px 0 0 $white;

    &::after {
      top: 22px;
    }

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }

  &--owner-contacts {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }
  }

  &--comment {
    margin-bottom: 38px;

    @media (min-width: $tablet-width) {
      margin-bottom: 87px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 78px;
    }
  }

  &--control {
    margin-bottom: 38px;

    @media (min-width: $tablet-width) {
      margin-bottom: 63px;
    }
  }
}

.form__button-wrap {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
    margin-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    gap: 75px;
    margin-bottom: 79px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__button {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;

    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: 0;
    margin-bottom: 0;
    width: 284px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    width: 100%;
  }
}

.form__interpretation {
  color: $title-text;
  text-align: center;
  font-family: $ff;
  font-size: 14px;
  line-height: 16px;
  text-transform: initial;

  display: block;

  @media (min-width: $tablet-width) {
    font-size: 16px;

    align-self: center;
    text-align: left;
    padding-bottom: 5px;
  }
}
