.form {
  font-family: $secondary-ff;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $secondary-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;

    //padding-left: 40px;
    //padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    //padding-left: 0;
    //padding-right: 0;
  }
}

.form__header {
  color: $title-text;
  font-size: 36px;
  line-height: 36px;
  text-transform: initial;

  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 54px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    padding-left: 0;
  }
}

.form__text {
  color: $title-text;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 66px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.form__data-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;

    margin-bottom: 70px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__owner-contacts {
  border: none;
  padding: 0;
  position: relative;

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.form__comment,
.form__control {
  position: relative;
}

.form__legend {
  color: $title-text;
  font-size: 24px;
  line-height: 26px;
  text-transform: initial;

  background-color: $white;
  padding-left: 20px;
  padding-right: 20px;

  &::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid $green;
    width: 100%;
    right: 0;
    top: 15px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    padding-left: 40px;
    padding-right: 40px;
    margin-left: 30px;

    &::after {
      top: 22px;
    }

    &--owner-contacts {
      margin-bottom: 76px;
    }

    &--comment {
      margin-bottom: 87px;
    }

    &--control {
      margin-bottom: 57px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;

    &--comment {
      margin-bottom: 78px;
    }
  }

  &--owner-contacts {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      br {
        display: none;
      }
    }
  }

  &--comment {
    margin-bottom: 28px;
  }

  &--control {
    margin-bottom: 34px;
  }
}

.form__button-wrap {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    gap: 75px;
    margin-bottom: 79px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__button {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;

    margin-bottom: 0;
    width: 284px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    width: 100%;
  }
}

.form__interpretation {
  color: $title-text;
  text-align: center;
  font-family: $ff;
  font-size: 14px;
  line-height: 16px;
  text-transform: initial;

  display: block;

  @media (min-width: $tablet-width) {
    font-size: 16px;

    align-self: center;
    text-align: left;
  }
}
