.hero {
  font-family: $secondary-ff;
  color: $white-text;
  text-align: center;
  background-color: $bg-green;
}

.hero__header {
  font-size: 36px;
  line-height: 36px;
}

.hero__slogan {
  line-height: 14px;
  text-transform: uppercase;
}
