.hero {
  font-family: $secondary-ff;
  color: $white;
  text-align: center;

  position: relative;

  background-image:
    image-set(
    url("../../images/bg-main-mobile@1x.webp") type("image/webp") 1x,
    url("../../images/bg-main-mobile@2x.webp") type("image/webp") 2x,
    url("../../images/bg-main-mobile@1x.jpg") type("image/jpg") 1x,
    url("../../images/bg-main-mobile@2x.jpg") type("image/jpg") 2x,
    url("../../images/bg-main-desktop@1x.webp") type("image/webp") 1x,
    url("../../images/bg-main-desktop@2x.webp") type("image/webp") 2x,
    url("../../images/bg-main-desktop@1x.jpg") type("image/jpg") 1x,
    url("../../images/bg-main-desktop@2x.jpg") type("image/jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  &::before {
    content: "";
    position: absolute;
    background-color: $light-green;
    left: 0;
    top: 0;
    min-width: 280px;
    min-height: 270px;
  }
}

.hero__header {
  font-size: 36px;
  line-height: 36px;
}

.hero__slogan {
  line-height: 14px;
  text-transform: uppercase;
}
