.instance {
  position: relative;
  background-color: $bg-cats-grey;

  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 100%;
    margin: 0 auto;

    background-image: linear-gradient($white 55%, $bg-cats-grey 55%);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: calc((100vw - 1220px)/2);
    padding-right: calc((100vw - 1220px)/2);
    padding-bottom: 76px;

    background-image: linear-gradient($white 23%, $bg-cats-grey 20%);
  }
}

.instance__wrapper {
  @media (min-width: $desktop-width) {
    width: 433px;
  }
}

.instance__title {
  color: $title-text;
  text-align: left;
  font-family: $secondary-ff;
  font-size: 36px;
  line-height: 40px;

  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 60px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
    padding: 0;
  }
}

.instance__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    padding: 0;
  }
}

.instance__result-wrap {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 52% 1fr;
    gap: 40px;

    padding: 0 30px;
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;

    padding: 0;
    margin-bottom: 0;
  }
}

.instance__result {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @media (min-width: $tablet-width) {
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    gap: 42px;
    width: 84%;
    margin-bottom: 42px;
  }
}

.instance__result-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 8px;

  padding: 15px 14px 20px 14px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    border: 1px solid $border-checkbox;
    border-radius: 4px;
  }

  @media (min-width: $tablet-width) {
    gap: 0;
    padding-bottom: 0;

    &::before {
      height: 80%;
    }
  }

  dt {
    font-family: $secondary-ff;
    font-size: 24px;
    line-height: 24px;
    color: $title-text;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 37px;
    }
  }
}

.instance__result-description {
  text-align: center;
  font-size: 12px;
  line-height: 100%;

  margin: 0;
  background-color: $bg-cats-grey;
  padding: 0 8px;
  margin-top: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 14px;

    background-color: $white;
    padding: 0;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-cats-grey;
  }
}

.instance__text {
  font-family: $secondary-ff;
  line-height: 20px;
  text-transform: uppercase;
  color: $title-text;
  text-align: center;

  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;

    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-end;
    margin-bottom: 0;
    padding-top: 11px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 66px;
    padding-top: 0;
  }
}

.instance__images {
  position: relative;
  width: 280px;
  margin: 0 auto;

  img {
    width: fit-content;
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 74px 101px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    padding: 0;
    margin: 0;
  }
}

.instance__images-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;

  picture {
    overflow: hidden;
  }

  picture:last-child {
    display: flex;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.instance__toggle {
  position: absolute;
  border: none;
  background-color: transparent;
  color: $dark-grey;
  z-index: 1;

  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;

  &::before {
    content: "";
    position: absolute;
    background-color: $dark-grey;
    width: 4px;
    height: 100%;
    border-radius: 2px;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    @media (min-width: $tablet-width) {
      bottom: 15%;
    }

    @media (min-width: $desktop-width) {
      bottom: 15%;
    }
  }

  &:hover {
    color: $green;
  }

  &:hover::before {
    background-color: $green;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    color: $dark-green;
    opacity: 0.6;
  }

  &:active::before {
    background-color: $dark-green;
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    bottom: 0;
  }
}
