.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    gap: 13px;
    flex-grow: 0;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.logo__wordmark {
  color: $catalog-text;

  flex-grow: 1;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}
