.main-header {
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 14px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 91%;
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}
