.main-footer {
  background-color: $light-grey;

  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.main-footer__wordmark {
  display: block;
  align-self: center;

  @media (min-width: $tablet-width) {
    padding: 8px 0 3px 0;

    svg {
      width: 128px;
      height: 24px;
    }
  }
}
