.main-footer {
  background-color: $light-grey;
}

.main-footer__wrap {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 168px auto 168px;
    align-items: center;
    gap: 20px 80px;
    padding-top: 55px;
    padding-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.main-footer__wordmark {
  color: $catalog-text;

  display: block;
  align-self: center;

  @media (min-width: $tablet-width) {
    padding: 6px 0 6px 0;

    svg {
      width: 128px;
      height: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    &:hover,
    &:focus {
      color: $footer-hover;
    }

    &:active {
      color: $footer-active;
    }
  }
}

.main-footer__copyright {
  @media (min-width: $desktop-width) {
    margin-left: 185px;
  }
}
