.owner-contacts {
  position: relative;
}

.owner-contacts__email-icon {
  position: absolute;
  mask-image: url("../../images/icons/stack.svg#email");
  mask-repeat: no-repeat;
  background-color: $title-text;
  width: 20px;
  height: 20px;
  top: 0;
  left: 210px;

  &:focus {
    background-color: $green;
  }
}

.owner-contacts__email-input:invalid + .owner-contacts__email-icon {
  background-color: $red;
}

.owner-contacts__tel-icon {
  position: absolute;
  mask-image: url("../../images/icons/stack.svg#phone");
  mask-repeat: no-repeat;
  background-color: $title-text;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 210px;

  &:focus {
    background-color: $green;
  }
}

.owner-contacts__tel-input:invalid + .owner-contacts__email-icon {
  background-color: $red;
}
