.product-card {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid $border-catalog;
    width: 100%;
    left: 0;
    top: 0;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: none;
    }
  }
}

.product-card__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 20px 0 25px 0;
  width: 280px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 37px 1fr 37px;
    grid-template-rows: 210px 1fr;
    width: 100%;
    height: 100%;
    padding: 0 0 40px;
    background-image: linear-gradient($white 15%, $light-grey 15%);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 38px 1fr 38px;
  }
}

.product-card__link {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
    margin-bottom: 22px;
  }
}

.product-card__title {
  grid-column: 2/-1;
  margin-bottom: 14px;

  h3 {
    margin: 0;

    color: $catalog-title-text;
    font-family: $secondary-ff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    //margin-bottom: 20px;
    align-self: center;
    grid-column: 2/3;

    br {
      display: none;
    }

    h3 {
      font-size: 20px;
      line-height: 24px;
      width: 50%;
      margin: 0 auto;
    }
  }

  @media (min-width: $desktop-width) {
    h3 {
      width: 140px;
    }
  }
}

.product-card__info {
  color: $main-text;
  text-align: left;
  font-size: 12px;
  line-height: 16px;

  grid-column: 2/-1;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 21px;
  align-items: center;

  dd {
    margin: 0;
    text-align: right;
  }

  dt {
    position: relative;

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        border-bottom: 1px solid $border-checkbox;
        width: 250px;
        left: 0;
        bottom: -5px;
        //box-shadow: 0 -30px 0 0 $border-checkbox, 0 -60px 0 0 $border-checkbox;
      }
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    grid-column: 2/3;
    gap: 10px;
  }
}

.product-card__button {
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    width: 100%;
    grid-column: 2/3;
  }
}
